<div class="container text-center">
  <h2 class="mt-3 mb-3">Konversi Latin (Melayu) ke Lontara (ᨒᨚᨈᨑ)</h2>
  <p>Untuk e pepet ( ᨛ ) ganti dengan huruf q sebagai pengganti e.</p>
  <form #formLat2Lon="ngForm" action="" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-5 col-xs-12 mb-3">
        <textarea [(ngModel)]="latinInput" name="latinInput"
         class="form-control" rows="11" style="resize: none;"></textarea>
      </div>
      <div class="col-md-2 col-xs-12 mb-3 align-middle">
        <button type="submit">Konversi</button>
      </div>
      <div class="col-md-5 col-xs-12 mb-3">
        <textarea class="form-control" rows="11" style="resize: none;" readonly>{{ lontaraOutput }}</textarea>
      </div>
    </div>
  </form>
</div>