<div class="container text-center">
  <h2 class="mt-3 mb-3">Konversi Latin (Melayu) ke Lontara (ᨒᨚᨈᨑ)</h2>
  <p class="mb-3 p-2 bg-primary text-light">Untuk e pepet ( ᨛ ) ganti e dengan huruf q (Misal: membaca, jadi mqmbaca).</p>
  <form #formLat2Lon="ngForm" action="" (ngSubmit)="onSubmit()">
    <div class="row align-items-center">
      <div class="col-md-5 col-xs-12 mb-3">
        <textarea [(ngModel)]="latinInput" name="latinInput"
        class="form-control" rows="7" style="resize: none;"></textarea>
      </div>
      <div class="col-md-2 col-xs-12 mb-3 align-middle">
        <button type="submit" class="m-2">Konversi</button>
      </div>
      <div class="col-md-5 col-xs-12 mb-3">
        <textarea class="form-control" rows="7" style="resize: none;" readonly>{{ lontaraOutput }}</textarea>
      </div>
    </div>
  </form>
</div>